.avatar {
    vertical-align: middle;
    width: 115px;
    height: 115px;
    border-radius: 50%;
}

.card {
    padding-top: 15px;
    margin-bottom: 20px;
    max-width: 355px;
    max-height: 355px;
}

.users-card-deck {
    margin-top: 2%;
}

.user-card-icon {
    font-size: 24px;
    color: lightgray;
    padding-left: 0;
}

.card-title {
    margin-bottom: 0;
}
