.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-color {
  color: rgb(10, 199, 10);
}

.overflow-hidden {
  overflow: hidden;
}

.text-gray {
  color: rgb(173, 153, 153);
  font-weight: 500;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.alert-position {
  position: absolute;
  top: 10%;
  right: 2%;
}

.toast-header {
  display: flow-root;
}
.toast-body {
  background-color: black;
  color: white;
}

.capitalize {
  text-transform: capitalize;
}